---
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">blog</a>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>		piper is a dingus</title>
	</head>

<body>
  
  
  


 

  <h1>blog</h1>
  <h1>abbout my melody </h1>
  <p>i will put facts abbout my melody here later:)</p>
</body>

</body>
</html>